*{
    margin: 0%;
    padding:0%;
}

.Header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}

#navlink{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background:#009688;
    z-index: 2;
    transition: 0.5s;
}

#navlink ul li {
   list-style: none;
   margin: 50px 20px;

}

#navlink ul li a {
    text-decoration: none;
    color: white;
}

#menuBtn{
    width: 40px;
    height: 30px;
    background: #00e6cf78;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;

}

#menuBtn img{
    width: 40px;
    margin-top: 15px;

}

#navlink ul li:after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: red;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.textbox{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.textbox h1{
    font-size: 160px;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}
.textbox h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.textbox p{
    margin: 10px 0 40px;
    font-size: 40px;
    color: aliceblue;
}
.textbox a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 17px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    width: 100%;
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
 
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width:770px){
.textbox h1{
    font-size: 30px;
}

}

/*----- About Batch Page -----*/

.Batch{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.Batch-Box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.Batch-list{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: aliceblue;
    position: relative;
}

.Batch-list img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background:linear-gradient(rgba(0,0,0,0.5),#009688);  
    opacity: 0;
    transition: 1s;

}

.Batch-list:hover .overlay{
    opacity: 1;

}

.batch-name{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;

}

.Batch-list:hover .batch-name{
    bottom: 40%;
    opacity: 1;

}

@media screen and (max-width:770px){
    .Batch-list{
        flex-basis: 100%;
        margin-bottom: 30px;

    }
    .Batch-list:hover .batch-name{
        bottom: 25% !important;
    }
    
}
/*----- services -----*/


.A-Service{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),#00e6cf78),url(img/service1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}
    .A-Service h1{
        font-size:xx-large;
    }
.SERVICES{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.Services-Box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.Services-list{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: aliceblue;
    position: relative;
}

.Services-list img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background:linear-gradient(rgba(0,0,0,0.5),#009688);  
    opacity: 0;
    transition: 1s;



}

.Services-list:hover .overlay{
    opacity: 1;

}

.services-name{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;

}

.Services-list:hover .services-name{
    bottom: 40%;
    opacity: 1;

}


@media screen and (max-width:770px){
    .Services-list{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .Services-list:hover .services-name{
        bottom: 25% !important;
    }
}



/*----- instructor info -----*/
.INSTRUCTOR{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.INSTRUCTOR p{
    margin: 20px  40px;
    font-size: 20px;
    color: black;
}

.INF-Box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.INF-list{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: aliceblue;
    position: relative;
}

.INF-list img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background:linear-gradient(rgba(0,0,0,0.5),#009688);  
    opacity: 0;
    transition: 1s;



}

.INF-list:hover .overlay{
    opacity: 1;

}

.INF-name{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;

}

.INF-list:hover .INF-name{
    bottom: 40%;
    opacity: 1;

}

@media screen and (max-width:770px){
    .INF-list{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .INF-list:hover .INF-name{
         bottom: 25% !important;
    }
}

/*----- About page  -----*/

.A-Header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),#00e6cf78),url(img/cover.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: aliceblue;

}

.A-Header h1{
    font-size:xx-large;
}
.About{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.About p{
    margin: 20px  40px;
    font-size: 20px;
    color: black;
}



.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.About-Box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.About-list{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: aliceblue;
    position: relative;
}

.About-list img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background:linear-gradient(rgba(0,0,0,0.5),#009688);  
    opacity: 0;
    transition: 1s;



}

.About-list:hover .overlay{
    opacity: 1;


}

.About-name{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;

}

.About-list:hover .About-name{
    bottom: 40%;
    opacity: 1;

}


@media screen and (max-width:770px){
    .About-list{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .About-list:hover .services-name{
        bottom: 25% !important;
    }

@media screen and (max-width:770px){
    .About h1{
        font-size: 44px;
    }
}
}